!!!5
%html{class:"no-js", lang:"es-mx"}
	%head
		%meta{charset:"UTF-8"}
		%title Restaurante X
		%link{rel:"stylesheet", type:"text/css", href:"estilos.css"}
		%meta{name:"description", content:"Come rico en el mejor restaurante de la ciudad, servicio de primera."}
		%meta{name:"viewport", content:"width=device-width, initial-scale=1"}

	%body
		%p#mensaje Parece que no pudimos conectarnos a internet, no hay problema, aquí está la información que nececitas.
		.container
			%h1 Restaurante X
			%p
				%strong Dirección
				Av. Paseo de la Reforma 50, Miguel Hidalgo, 11580
				Ciudad de México.
			%p
				%strong Horario
				5pm - 11pm

			%p
				%strong Teléfono
				1234567890
			%p
				%strong Descripción
				Servimos comida hecha por artistas, ven y prueba la
				mejor hamburguesa, o unas papas como nunca antes.

			#mapa
				%img{src:"offline/mapa.png"}
				%p Este mapa ofrece referencias del restaurante